@import base.sass

body
    font-size: 1.5em
    font-family: Monaco, "Helvetica Neue", Helvetica
    color: $font_color
    background: $background_color

h1
    font-size: 4em
    margin-bottom: 20px
h2
    font-size: 2em

a
    +link_stan
    
a:visited
    +link_stan

a:hover
    color: $link_hover
    text-decoration: underline
#container
    width: 900px
    margin: 0px auto
#footer
    text-align: center
    color: #aaa
    font-size: 12px
    margin-top: 15px

.menu-wrap
    .menu
        display: table
        .item-wrap
            display: table-cell
            padding: 5px 25px 5px 5px
            @include reset_link
            .item
                padding-bottom: 2px
                text-align: left
                border-bottom: 1px solid white
            .item:hover
                border-bottom: 1px solid black

.commits
    .date
        margin-top: 25px
        margin-bottom: 10px
        font-size: 16px
    .commit-wrap
        padding: 10px
        border: 1px solid #BFBFBF
        background-color: #F6F6F6
        margin-top: 5px
        @include reset_link
        .author
        .message
            margin: 5px 0px
    .commit-wrap:hover
        background-color: #F0F0F0

.file-name
    padding-left: 20px
    margin: 5px 0px
.blob-name
    background: url('/images/page_white_text.png') transparent no-repeat bottom left
.tree-name
    background: url('/images/folder.png') transparent no-repeat bottom left