@import base.sass

body
    font-size: 1.5em
    font-family: Monaco, "Helvetica Neue", Helvetica
    color: $font_color
    background: $background_color

h1
    font-size: 4em
    margin-bottom: 20px
h2
    font-size: 2em

a
    +link_stan
    
a:visited
    +link_stan
    
a:hover
    color: $link_hover
    text-decoration: underline
#container
    width: 900px
    margin: 0px auto
#footer
    text-align: center
    color: #aaa
    font-size: 12px
    margin-top: 15px

.menu-wrap
    .menu
        display: table
        .item-wrap
            display: table-cell
            padding: 5px 25px 5px 5px
            a
                color: $font_color
            a:hover
                text-decoration: none
                
            .item
                padding-bottom: 2px
                text-align: left
                border-bottom: 1px solid white
            .item:hover
                cursor: pointer
                border-bottom: 1px solid black