<html>
<head>
	<title>Quick Grit</title>
	<link rel="stylesheet" href='/css/style.css' type='text/css' media='screen'>
	<link rel="stylesheet" href='/css/coderay.css' type='text/css' media='screen'>
	<script type='text/javascript' src='/js/prototype.js'></script>
	<script type='text/javascript' src='/js/effects.js'></script>
	<script type='text/javascript' src='/js/dragdrop.js'></script>
	<script type='text/javascript' src='/js/controls.js'></script>
	<script type='text/javascript' src='/js/prototype.js'></script>
	<script type='text/javascript' src='/js/raphael.js'></script>
	<script type='text/javascript' src='/js/g.raphael.js'></script>
	<script type='text/javascript' src='/js/g.pie.js'></script>
</head>
<body>
	<div id='application-wrap'>
		<div id='header-wrap'>
			<div id='header'>
				Quick Grit
			</div>
		</div>
		<div id='content-wrap'>
			<div id='content'>
				<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>