- if tree.kind_of? Blob
    .blob-name
        %a{:href => "/blob/#{tree.id}"}
            = tree.name
- else
    .tree-name
        %a{:href => "/tree/#{tree.id}"}
            = tree.name 
        %span>< /